version: 2
updates:

  - package-ecosystem: "pip" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "weekly"
    assignees:
      - "pyansys-ci-bot"
    commit-message:
      prefix: "CHORE"
    labels:
      - "maintenance"
      - "dependencies"
      - "dependabot"
    groups:
      core:
        patterns:
          - "*ansys*"
          - "appdirs"
          - "click"
          - "clr-loader"
          - "grpcio"
          - "protobuf"
          - "tqdm"
        exclude-patterns:
          - "*sphinx*"
        update-types:
        - "minor"
        - "patch"
      tests:
        patterns:
          - "pytest*"
        exclude-patterns:
          - "*sphinx*"
        update-types:
        - "minor"
        - "patch"
      doc:
        patterns:
          - "*sphinx*"
          - "grpcio"
          - "imageio*"
          - "jupyter*"
          - "matplotlib"
          - "numpy*"
          - "pypandoc"
          - "pythreejs"
          - "pyvista"
        update-types:
        - "minor"
        - "patch"
    cooldown:
      default-days: 5

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    assignees:
      - "pyansys-ci-bot"
    labels:
      - "maintenance"
      - "dependencies"
      - "dependabot"
    commit-message:
      prefix: "CHORE"
    groups:
       actions:
          patterns:
            - "*"
          update-types:
          - "minor"
          - "patch"
    cooldown:
      default-days: 5
