[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
# Check https://flit.readthedocs.io/en/latest/pyproject_toml.html for all available sections
name = "ansys-mechanical-core"
version = "0.7.0"
description = "A python wrapper for Ansys Mechanical"
readme = "README.rst"
requires-python = ">=3.7,<4.0"
license = {file = "LICENSE"}
authors = [
    {name = "ANSYS, Inc.", email = "pyansys.core@ansys.com"},
]
maintainers = [
    {name = "ANSYS, Inc.", email = "pyansys.core@ansys.com"},
]

classifiers = [
    "Development Status :: 4 - Beta",
    'Intended Audience :: Science/Research',
    'Topic :: Scientific/Engineering :: Information Analysis',
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = [
    "ansys_api_mechanical==0.1.0",
    "ansys-pythonnet==3.1.0rc1",
    "importlib-metadata>=4.0",
    "appdirs>=1.4.0",
    "grpcio>=1.30.0",
    "protobuf>=3.12.2,<3.21.0",
    "ansys-platform-instancemanagement>=1.0.1",
    "tqdm>=4.45.0",
]

[project.urls]
Documentation = "https://mechanical.docs.pyansys.com"
Source = "https://github.com/pyansys/pymechanical"
Homepage = "https://github.com/pyansys/pymechanical"
Tracker = "https://github.com/pyansys/pymechanical/issues"

[project.optional-dependencies]
tests = [
    "pytest==7.2.2",
    "pytest-cov==4.0.0",
    "pytest-print==0.3.1",
]
doc = [
    "Sphinx==5.3.0",
    "ansys-sphinx-theme==0.9.6",
    "grpcio==1.53.0",
    "imageio-ffmpeg==0.4.8",
    "imageio==2.27.0",
    "jupyter_sphinx==0.4.0",
    "jupyterlab>=3.2.8",
    "matplotlib==3.7.1",
    "numpydoc==1.5.0",
    "plotly==5.14.0",
    "pypandoc==1.11",
    "pytest-sphinx==0.5.0",
    "pythreejs==2.4.2",
    "pyvista==0.38.5",
    "sphinx-autobuild==2021.3.14",
    "sphinx-autodoc-typehints==1.22",
    "sphinx-copybutton==0.5.1",
    "sphinx-gallery==0.12.2",
    "sphinx-notfound-page==0.8.3",
    "sphinxcontrib-websupport==1.2.4",
    "sphinxemoji==0.2.0",
]

[tool.flit.module]
name = "ansys.mechanical.core"

[tool.black]
line-length = 100

[tool.isort]
profile = "black"
force_sort_within_sections = true
line_length = 100
default_section = "THIRDPARTY"
src_paths = ["doc", "src", "tests"]

[tool.coverage.run]
relative_files = true
source = ["ansys.mechanical"]

[tool.coverage.report]
show_missing = true

[tool.coverage.html]
directory = ".cov/html"

[tool.coverage.xml]
output = ".cov/coverage.xml"

[tool.pytest.ini_options]
minversion = "7.1"
addopts = """-ra -s -m remote_session_connect --durations=0 --cov=ansys.mechanical --cov-report html:.cov/html \
 --cov-report xml:.cov/xml --cov-report term -vv --print --print-relative-time"""
# addopts = """-ra -s -m remote_session_launch --durations=0 --cov=ansys.mechanical --cov-report html:.cov/html \
# --cov-report xml:.cov/xml --cov-report term -vv --print --print-relative-time"""
# addopts = """-ra -s -m 'remote_session_launch or remote_session_connect' --durations=0 --cov=ansys.mechanical \
# --cov-report html:.cov/html --cov-report xml:.cov/xml --cov-report term -vv --print --print-relative-time"""
# addopts = """-ra -s -m 'remote_session_launch or remote_session_connect or embedding' --durations=0
# --cov=ansys.mechanical --cov-report html:.cov/html --cov-report xml:.cov/xml --cov-report \
# term -vv --print --print-relative-time"""
testpaths = [
    "tests",
]
markers = [
    "embedding: tests that embed Mechanical in the python process",
    "remote_session_launch: tests that launch Mechanical and work with gRPC server inside it",
    "remote_session_connect: tests that connect to Mechanical and work with gRPC server inside it",
]
xfail_strict = true
