[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
# Check https://flit.readthedocs.io/en/latest/pyproject_toml.html for all available sections
name = "ansys-mechanical-core"
version = "0.7.dev2"
description = "A python wrapper for Ansys Mechanical"
readme = "README.rst"
requires-python = ">=3.7,<4.0"
license = {file = "LICENSE"}
authors = [
    {name = "ANSYS, Inc.", email = "pyansys.support@ansys.com"},
]
maintainers = [
    {name = "PyAnsys developers", email = "pyansys.maintainers@ansys.com"},
]

classifiers = [
    "Development Status :: 4 - Beta",
    'Intended Audience :: Science/Research',
    'Topic :: Scientific/Engineering :: Information Analysis',
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = [
    "importlib-metadata>=4.0",
    "appdirs>=1.4.0",
    "grpcio>=1.30.0,<1.50",
    "protobuf>=3.12.2",
    "ansys-platform-instancemanagement>=1.0.1",
    "tqdm>=4.45.0",
]

[project.optional-dependencies]
tests = [
    "pytest==7.2.0",
    "pytest-cov==4.0.0",
]
doc = [
    "Sphinx==5.3.0",
    "ansys-sphinx-theme==0.7.2",
    "grpcio==1.43.0",
    "imageio-ffmpeg==0.4.7",
    "imageio==2.22.4",
    "jupyter_sphinx==0.4.0",
    "jupyterlab>=3.2.8",
    "matplotlib==3.6.2",
    "numpydoc==1.5.0",
    "plotly==5.11.0",
    "pypandoc==1.10",
    "pytest-sphinx==0.5.0",
    "pythreejs==2.4.1",
    "pyvista==0.37.0",
    "sphinx-autobuild==2021.3.14",
    "sphinx-autodoc-typehints==1.19.5",
    "sphinx-copybutton==0.5.1",
    "sphinx-gallery==0.11.1",
    "sphinx-notfound-page==0.8.3",
    "sphinxcontrib-websupport==1.2.4",
    "sphinxemoji==0.2.0",
]

[tool.flit.module]
name = "ansys.mechanical.core"

[project.urls]
Source = "https://github.com/pyansys/pymechanical"

[tool.black]
line-length = 100

[tool.isort]
profile = "black"
force_sort_within_sections = true
line_length = 100
default_section = "THIRDPARTY"
src_paths = ["doc", "src", "tests"]

[tool.coverage.run]
source = ["ansys.mechanical"]
omit = [
        "**/ansys/mechanical/core/mechanical_pb2.py",
        "**/ansys/mechanical/core/mechanical_pb2_grpc.py"
       ]

[tool.coverage.report]
show_missing = true

[tool.coverage.html]
directory = ".cov/html"

[tool.coverage.xml]
output = ".cov/coverage.xml"

[tool.pytest.ini_options]
minversion = "7.1"
addopts = "-ra --cov=ansys.mechanical --cov-report html:.cov/html --cov-report xml:.cov/xml --cov-report term -vv"
testpaths = [
    "tests",
]
