# combine files needed for mechanical and mapdl

# ignore all .a files ( static libraries )
**/*.a

# ignore the .txt files
*.txt

# ignore the log files
ansys_inc/*.log

# ignore the license file
ansys_inc/shared_files/licensing/ansyslmd.ini

ansys_inc/v241/ACP

ansys_inc/v241/Addins
!ansys_inc/v241/Addins/ACT
!ansys_inc/v241/Addins/EngineeringData
!ansys_inc/v241/Addins/JobManager
!ansys_inc/v241/Addins/JobMgrAdapter
!ansys_inc/v241/Addins/Units

ansys_inc/v241/aisol/BladeModeler
ansys_inc/v241/aisol/FEModeler

ansys_inc/v241/aisol/dll/linx64/libans.blademodeler.ndfutilitiescom.so
ansys_inc/v241/aisol/dll/linx64/libans.blademodeler.bg41objectscom.so
ansys_inc/v241/aisol/dll/linx64/ans.blademodeler.bg41objectscom.rsb
ansys_inc/v241/aisol/dll/linx64/libans.blademodeler.tgproxycom.so
ansys_inc/v241/aisol/dll/linx64/ans.blademodeler.tgproxycom.rsb
ansys_inc/v241/aisol/dll/linx64/libans.blademodeler.objectscom.so
ansys_inc/v241/aisol/dll/linx64/ans.blademodeler.objectscom.rsb
ansys_inc/v241/aisol/dll/linx64/libans.addins.parameshkernelcom.so
ansys_inc/v241/aisol/dll/linx64/ans.addins.parameshkernelcom.rsb
ansys_inc/v241/aisol/dll/linx64/libans.addins.parameshobjectscom.so
ansys_inc/v241/aisol/dll/linx64/ans.addins.parameshobjectscom.rsb

ansys_inc/v241/Additive

ansys_inc/v241/commonfiles/CAD/Hoops

ansys_inc/v241/commonfiles/CAD/Spatial
!ansys_inc/v241/commonfiles/CAD/Spatial/iop/linx64/code/bin/libtbbmalloc.so.2

ansys_inc/v241/commonfiles/CPython
!ansys_inc/v241/commonfiles/CPython/3_10

ansys_inc/v241/commonfiles/SystemCoupling

ansys_inc/v241/commonfiles/Tcl
!ansys_inc/v241/commonfiles/Tcl/lib/linx64/libjpeg.so
!ansys_inc/v241/commonfiles/Tcl/lib/linx64/libpng.so
!ansys_inc/v241/commonfiles/Tcl/lib/linx64/libtiff.so
!ansys_inc/v241/commonfiles/Tcl/lib/linx64/libz.so

ansys_inc/v241/commonfiles/CFX
!ansys_inc/v241/commonfiles/CFX/lib/linux-amd64/libans.cue.di.so
!ansys_inc/v241/commonfiles/CFX/lib/linux-amd64/libgfortran.so.5
!ansys_inc/v241/commonfiles/CFX/lib/linux-amd64/libquadmath.so.0
!ansys_inc/v241/commonfiles/CFX/tools/fluentio/linx64/lib/libfluentio.so
!ansys_inc/v241/commonfiles/CFX/tools/perl-5.34.1-dynamic/lib/5.34.1/x86_64-linux/CORE/libperl.so
!ansys_inc/v241/commonfiles/CFX/tools/poco-1.12.4/linx64/lib/libPocoFoundation.so
!ansys_inc/v241/commonfiles/CFX/tools/poco-1.12.4/linx64/lib/libPocoFoundation.so.94

ansys_inc/v241/commonfiles/Textures
ansys_inc/v241/commonfiles/tools
ansys_inc/v241/dcs
!ansys_inc/v241/dcs/nginx/auth_web/assets/favicon.ico

ansys_inc/v241/Framework
!ansys_inc/v241/Framework/bin

ansys_inc/v241/Images

ansys_inc/v241/meshing

ansys_inc/v241/RSM

ansys_inc/v241/SystemCoupling

ansys_inc/v241/ProductConfig.sh
ansys_inc/v241/ans_uninstall241
ansys_inc/v241/ansys
!ansys_inc/v241/ansys/syslib/ubuntu/libXp.so
!ansys_inc/v241/ansys/syslib/ubuntu/libXp.so.6
!ansys_inc/v241/ansys/syslib/ubuntu/libXp.so.6.2.0

!ansys_inc/v241/ansys/bin/ansupf
!ansys_inc/v241/ansys/bin/ansupf241

!ansys_inc/v241/ansys/bin/mpitest
!ansys_inc/v241/ansys/bin/mpitest241

!ansys_inc/v241/ansys/lib/linx64/blas

!ansys_inc/v241/aisol/lib/linx64/libgcc_s.so.1
!ansys_inc/v241/aisol/lib/linx64/libaddress_sorting.so
!ansys_inc/v241/aisol/lib/linx64/libgpr.so
!ansys_inc/v241/aisol/lib/linx64/libgrpc.so
!ansys_inc/v241/ansys/apdl
!ansys_inc/v241/ansys/apdl/start.ans
!ansys_inc/v241/ansys/bin/ansset.ini
!ansys_inc/v241/ansys/bin/anssh.ini
!ansys_inc/v241/ansys/bin/ansys241
!ansys_inc/v241/ansys/bin/ansupf
!ansys_inc/v241/ansys/bin/ansupf241
!ansys_inc/v241/ansys/bin/ansysdis
!ansys_inc/v241/ansys/bin/ansysdis241
!ansys_inc/v241/ansys/bin/linx64/ansys.e

!ansys_inc/v241/ansys/bin/linx64/AnsMechSolverMesh_f.e
!ansys_inc/v241/ansys/bin/linx64/RunQMorph_f.e

!ansys_inc/v241/ansys/bin/linx64/lsdyna*.e

!ansys_inc/v241/ansys/bin/mapdl
!ansys_inc/v241/ansys/docu/dynprompt241.ans
!ansys_inc/v241/ansys/gui/en-us/UIDL/MECHTOOL.AUI
!ansys_inc/v241/ansys/gui/en-us/UIDL/menulist.ans
!ansys_inc/v241/ansys/gui/en-us/UIDL/UIFUNC1.GRN
!ansys_inc/v241/ansys/gui/en-us/UIDL/UIFUNC2.GRN
!ansys_inc/v241/ansys/gui/en-us/UIDL/UIMENU.GRN

!ansys_inc/v241/ansys/lib/analytics/model_031323/sparse_A_min_max.txt
!ansys_inc/v241/ansys/lib/analytics/model_031323/sparse_A_param_a.txt
!ansys_inc/v241/ansys/lib/analytics/model_031323/sparse_A_param_b.txt
!ansys_inc/v241/ansys/lib/analytics/model_031323/sparse_memory_keras2cpp_model_0.model
!ansys_inc/v241/ansys/lib/analytics/model_031323/sparse_memory_keras2cpp_model_1.model
!ansys_inc/v241/ansys/lib/analytics/model_031323/sparse_memory_keras2cpp_model_2.model
!ansys_inc/v241/ansys/lib/analytics/model_031323/sparse_memory_keras2cpp_model_3.model
!ansys_inc/v241/ansys/lib/analytics/model_031323/sparse_memory_keras2cpp_model_4.model
!ansys_inc/v241/ansys/lib/analytics/model_031323/sparse_memory_mean_0.txt
!ansys_inc/v241/ansys/lib/analytics/model_031323/sparse_memory_mean_1.txt
!ansys_inc/v241/ansys/lib/analytics/model_031323/sparse_memory_mean_2.txt
!ansys_inc/v241/ansys/lib/analytics/model_031323/sparse_memory_mean_3.txt
!ansys_inc/v241/ansys/lib/analytics/model_031323/sparse_memory_mean_4.txt
!ansys_inc/v241/ansys/lib/analytics/model_031323/sparse_memory_scale_0.txt
!ansys_inc/v241/ansys/lib/analytics/model_031323/sparse_memory_scale_1.txt
!ansys_inc/v241/ansys/lib/analytics/model_031323/sparse_memory_scale_2.txt
!ansys_inc/v241/ansys/lib/analytics/model_031323/sparse_memory_scale_3.txt
!ansys_inc/v241/ansys/lib/analytics/model_031323/sparse_memory_scale_4.txt

!ansys_inc/v241/ansys/lib/linx64/libansexb.so
!ansys_inc/v241/ansys/lib/linx64/libansgil.so
!ansys_inc/v241/ansys/lib/linx64/libansGPU.so
!ansys_inc/v241/ansys/lib/linx64/libansHDF.so
!ansys_inc/v241/ansys/lib/linx64/libansMathUtils.so
!ansys_inc/v241/ansys/lib/linx64/libansMemManager.so
!ansys_inc/v241/ansys/lib/linx64/libansMETIS.so
!ansys_inc/v241/ansys/lib/linx64/libansMPI.so
!ansys_inc/v241/ansys/lib/linx64/libansMPIinterface.so
!ansys_inc/v241/ansys/lib/linx64/libansOpenMP.so
!ansys_inc/v241/ansys/lib/linx64/libansOpenSSL.so
!ansys_inc/v241/ansys/lib/linx64/libansParMETIS.so
!ansys_inc/v241/ansys/lib/linx64/libansPrintf.so
!ansys_inc/v241/ansys/lib/linx64/libansResourcePredict.so
!ansys_inc/v241/ansys/lib/linx64/libansScaLAPACK.so
!ansys_inc/v241/ansys/lib/linx64/libansuser.so
!ansys_inc/v241/ansys/lib/linx64/libansys.so
!ansys_inc/v241/ansys/lib/linx64/libansysb.so
!ansys_inc/v241/ansys/lib/linx64/libansysx.so
!ansys_inc/v241/ansys/lib/linx64/libApipWrapper.so
!ansys_inc/v241/ansys/lib/linx64/libcadoe_algorithms.so
!ansys_inc/v241/ansys/lib/linx64/libcdbtransformer.so
!ansys_inc/v241/ansys/lib/linx64/libcgns.so.4.3
!ansys_inc/v241/ansys/lib/linx64/libchap.so
!ansys_inc/v241/ansys/lib/linx64/libcif.so
!ansys_inc/v241/ansys/lib/linx64/libCInterpolation.so
!ansys_inc/v241/ansys/lib/linx64/libCKernel.so
!ansys_inc/v241/ansys/lib/linx64/libCLegacy.so
!ansys_inc/v241/ansys/lib/linx64/libCMath.so
!ansys_inc/v241/ansys/lib/linx64/libCReaders.so
!ansys_inc/v241/ansys/lib/linx64/libCReadersExt.so
!ansys_inc/v241/ansys/lib/linx64/libdmumps.so
!ansys_inc/v241/ansys/lib/linx64/libdsp.so
!ansys_inc/v241/ansys/lib/linx64/libmnf.so
!ansys_inc/v241/ansys/lib/linx64/libmumps_common.so
!ansys_inc/v241/ansys/lib/linx64/liboctree-mesh.so
!ansys_inc/v241/ansys/lib/linx64/libPrimeMesh.so
!ansys_inc/v241/ansys/lib/linx64/libansBiolib.so
!ansys_inc/v241/ansys/lib/linx64/libqhull.so
!ansys_inc/v241/ansys/lib/linx64/libspooles.so
!ansys_inc/v241/ansys/lib/linx64/libtg.so
!ansys_inc/v241/ansys/lib/linx64/libvtk.so
!ansys_inc/v241/ansys/lib/linx64/libzmumps.so
!ansys_inc/v241/ansys/lib/linx64/mpi/intelmpi/libansMPI.so
!ansys_inc/v241/ansys/lib/linx64/mpi/intelmpi/libansScaLAPACK.so

!ansys_inc/v241/ansys/site

!ansys_inc/v241/ansys/syslib/AnsGil/libgmp.so
!ansys_inc/v241/ansys/syslib/AnsGil/libgmp.so.10
!ansys_inc/v241/ansys/syslib/AnsGil/libgmp.so.10.3.2

!ansys_inc/v241/ansys/syslib/AnsMechSolverMesh/libComponentSystem.so

!ansys_inc/v241/ansys/syslib/ansGRPC
!ansys_inc/v241/ansys/syslib/boost/libboost_atomic.so
!ansys_inc/v241/ansys/syslib/boost/libboost_atomic.so.1
!ansys_inc/v241/ansys/syslib/boost/libboost_atomic.so.1.71
!ansys_inc/v241/ansys/syslib/boost/libboost_atomic.so.1.71.0
!ansys_inc/v241/ansys/syslib/boost/libboost_chrono.so
!ansys_inc/v241/ansys/syslib/boost/libboost_chrono.so.1
!ansys_inc/v241/ansys/syslib/boost/libboost_chrono.so.1.71
!ansys_inc/v241/ansys/syslib/boost/libboost_chrono.so.1.71.0
!ansys_inc/v241/ansys/syslib/boost/libboost_date_time.so
!ansys_inc/v241/ansys/syslib/boost/libboost_date_time.so.1
!ansys_inc/v241/ansys/syslib/boost/libboost_date_time.so.1.71
!ansys_inc/v241/ansys/syslib/boost/libboost_date_time.so.1.71.0
!ansys_inc/v241/ansys/syslib/boost/libboost_filesystem.so
!ansys_inc/v241/ansys/syslib/boost/libboost_filesystem.so.1
!ansys_inc/v241/ansys/syslib/boost/libboost_filesystem.so.1.71
!ansys_inc/v241/ansys/syslib/boost/libboost_filesystem.so.1.71.0
!ansys_inc/v241/ansys/syslib/boost/libboost_log.so
!ansys_inc/v241/ansys/syslib/boost/libboost_log.so.1
!ansys_inc/v241/ansys/syslib/boost/libboost_log.so.1.71
!ansys_inc/v241/ansys/syslib/boost/libboost_log.so.1.71.0
!ansys_inc/v241/ansys/syslib/boost/libboost_log_setup.so
!ansys_inc/v241/ansys/syslib/boost/libboost_log_setup.so.1
!ansys_inc/v241/ansys/syslib/boost/libboost_log_setup.so.1.71
!ansys_inc/v241/ansys/syslib/boost/libboost_log_setup.so.1.71.0
!ansys_inc/v241/ansys/syslib/boost/libboost_regex.so
!ansys_inc/v241/ansys/syslib/boost/libboost_regex.so.1
!ansys_inc/v241/ansys/syslib/boost/libboost_regex.so.1.71
!ansys_inc/v241/ansys/syslib/boost/libboost_regex.so.1.71.0
!ansys_inc/v241/ansys/syslib/boost/libboost_system.so
!ansys_inc/v241/ansys/syslib/boost/libboost_system.so.1
!ansys_inc/v241/ansys/syslib/boost/libboost_system.so.1.71
!ansys_inc/v241/ansys/syslib/boost/libboost_system.so.1.71.0
!ansys_inc/v241/ansys/syslib/boost/libboost_thread.so
!ansys_inc/v241/ansys/syslib/boost/libboost_thread.so.1
!ansys_inc/v241/ansys/syslib/boost/libboost_thread.so.1.71
!ansys_inc/v241/ansys/syslib/boost/libboost_thread.so.1.71.0

!ansys_inc/v241/ansys/syslib/daal/libdaal_core.so
!ansys_inc/v241/ansys/syslib/daal/libdaal_sequential.so
!ansys_inc/v241/ansys/syslib/daal/libdaal_thread.so
!ansys_inc/v241/ansys/syslib/daal/libtbb.so
!ansys_inc/v241/ansys/syslib/daal/libtbb.so.2
!ansys_inc/v241/ansys/syslib/daal/libtbbmalloc.so
!ansys_inc/v241/ansys/syslib/daal/libtbbmalloc.so.2

!ansys_inc/v241/ansys/syslib/openssl/libcrypto.so
!ansys_inc/v241/ansys/syslib/openssl/libcrypto-anss.so
!ansys_inc/v241/ansys/syslib/openssl/libcrypto-anss.so.1.1
!ansys_inc/v241/ansys/syslib/openssl/libssl.so
!ansys_inc/v241/ansys/syslib/openssl/libssl-anss.so
!ansys_inc/v241/ansys/syslib/openssl/libssl-anss.so.1.1

!ansys_inc/v241/ansys/syslib/zlib/libz.so
!ansys_inc/v241/ansys/syslib/zlib/libz.so.1
!ansys_inc/v241/ansys/syslib/zlib/libz.so.1.2.13

ansys_inc/v241/commonfiles/MPI
!ansys_inc/v241/commonfiles/MPI/Intel/2021.10.0/linx64/bin/hydra_bstrap_proxy
!ansys_inc/v241/commonfiles/MPI/Intel/2021.10.0/linx64/bin/hydra_pmi_proxy
!ansys_inc/v241/commonfiles/MPI/Intel/2021.10.0/linx64/bin/mpiexec
!ansys_inc/v241/commonfiles/MPI/Intel/2021.10.0/linx64/bin/mpiexec.hydra
!ansys_inc/v241/commonfiles/MPI/Intel/2021.10.0/linx64/bin/mpirun
!ansys_inc/v241/commonfiles/MPI/Intel/2021.10.0/linx64/etc/tuning_skx_shm-ofi.dat
!ansys_inc/v241/commonfiles/MPI/Intel/2021.10.0/linx64/lib/release/libmpi.so
!ansys_inc/v241/commonfiles/MPI/Intel/2021.10.0/linx64/lib/release/libmpi.so.12
!ansys_inc/v241/commonfiles/MPI/Intel/2021.10.0/linx64/lib/release/libmpi.so.12.0
!ansys_inc/v241/commonfiles/MPI/Intel/2021.10.0/linx64/lib/release/libmpi.so.12.0.0
!ansys_inc/v241/commonfiles/MPI/Intel/2021.10.0/linx64/libfabric/lib/libfabric.so
!ansys_inc/v241/commonfiles/MPI/Intel/2021.10.0/linx64/libfabric/lib/libfabric.so.1
!ansys_inc/v241/commonfiles/MPI/Intel/2021.10.0/linx64/libfabric/lib/prov/libefa-fi.so
!ansys_inc/v241/commonfiles/MPI/Intel/2021.10.0/linx64/libfabric/lib/prov/libmlx-fi.so
!ansys_inc/v241/commonfiles/MPI/Intel/2021.10.0/linx64/libfabric/lib/prov/libpsm3-fi.so
!ansys_inc/v241/commonfiles/MPI/Intel/2021.10.0/linx64/libfabric/lib/prov/libpsmx2-fi.so
!ansys_inc/v241/commonfiles/MPI/Intel/2021.10.0/linx64/libfabric/lib/prov/librxm-fi.so
!ansys_inc/v241/commonfiles/MPI/Intel/2021.10.0/linx64/libfabric/lib/prov/libshm-fi.so
!ansys_inc/v241/commonfiles/MPI/Intel/2021.10.0/linx64/libfabric/lib/prov/libtcp-fi.so
!ansys_inc/v241/commonfiles/MPI/Intel/2021.10.0/linx64/libfabric/lib/prov/libverbs-1.1-fi.so
!ansys_inc/v241/commonfiles/MPI/Intel/2021.10.0/linx64/libfabric/lib/prov/libverbs-1.12-fi.so

ansys_inc/v241/commonfiles/Tcl
!ansys_inc/v241/commonfiles/Tcl/lib/linx64/libjpeg.so
!ansys_inc/v241/commonfiles/Tcl/lib/linx64/libpng.so
!ansys_inc/v241/commonfiles/Tcl/lib/linx64/libtiff.so

ansys_inc/v241/tp/hdf5/1_12_2
!ansys_inc/v241/tp/hdf5/1_12_2/linx64/lib/libhdf5_cpp-serial.so.200
!ansys_inc/v241/tp/hdf5/1_12_2/linx64/lib/libhdf5_hl_cpp-serial.so.200
!ansys_inc/v241/tp/hdf5/1_12_2/linx64/lib/libhdf5_hl-serial.so.200
!ansys_inc/v241/tp/hdf5/1_12_2/linx64/lib/libhdf5-serial.so.200


ansys_inc/v241/tp/IntelCompiler/2019.3.199
!ansys_inc/v241/tp/IntelCompiler/2019.3.199/linx64/lib/intel64/libcilkrts.so
!ansys_inc/v241/tp/IntelCompiler/2019.3.199/linx64/lib/intel64/libcilkrts.so.5

!ansys_inc/v241/tp/IntelCompiler/2019.3.199/linx64/lib/intel64/libifcore.so
!ansys_inc/v241/tp/IntelCompiler/2019.3.199/linx64/lib/intel64/libifcore.so.5

!ansys_inc/v241/tp/IntelCompiler/2019.3.199/linx64/lib/intel64/libifcoremt.so
!ansys_inc/v241/tp/IntelCompiler/2019.3.199/linx64/lib/intel64/libifcoremt.so.5
!ansys_inc/v241/tp/IntelCompiler/2019.3.199/linx64/lib/intel64/libifport.so
!ansys_inc/v241/tp/IntelCompiler/2019.3.199/linx64/lib/intel64/libifport.so.5
!ansys_inc/v241/tp/IntelCompiler/2019.3.199/linx64/lib/intel64/libimf.so
!ansys_inc/v241/tp/IntelCompiler/2019.3.199/linx64/lib/intel64/libintlc.so
!ansys_inc/v241/tp/IntelCompiler/2019.3.199/linx64/lib/intel64/libintlc.so.5
!ansys_inc/v241/tp/IntelCompiler/2019.3.199/linx64/lib/intel64/libiomp5.so
!ansys_inc/v241/tp/IntelCompiler/2019.3.199/linx64/lib/intel64/libirc.so
!ansys_inc/v241/tp/IntelCompiler/2019.3.199/linx64/lib/intel64/libirng.so
!ansys_inc/v241/tp/IntelCompiler/2019.3.199/linx64/lib/intel64/libsvml.so

ansys_inc/v241/tp/IntelMKL
ansys_inc/v241/tp/IntelMKL/2020.0.166
!ansys_inc/v241/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_avx512.so
!ansys_inc/v241/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_avx512_mic.so
!ansys_inc/v241/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_blacs_intelmpi_lp64.so
!ansys_inc/v241/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_core.so
!ansys_inc/v241/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_def.so
!ansys_inc/v241/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_intel_lp64.so
!ansys_inc/v241/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_intel_thread.so
!ansys_inc/v241/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_scalapack_lp64.so

!ansys_inc/v241/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_sequential.so

!ansys_inc/v241/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_vml_avx512.so
!ansys_inc/v241/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_vml_avx512_mic.so

ansys_inc/v241/tp/qt
!ansys_inc/v241/tp/qt/5.9.6
!ansys_inc/v241/tp/qt_fw/5.9.6

!ansys_inc/v241/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_gnu_thread.so

ansys_inc/install.err
.dockerignore
Dockerfile
