# combine files needed for mechanical and mapdl

# ignore all .a files ( static libraries )
**/*.a

# ignore the .txt files
*.txt

# ignore the log files
ansys_inc/*.log

# ignore the license file
ansys_inc/shared_files/licensing/ansyslmd.ini

ansys_inc/v231/ACP

ansys_inc/v231/Addins
!ansys_inc/v231/Addins/ACT
!ansys_inc/v231/Addins/EngineeringData
!ansys_inc/v231/Addins/JobManager
!ansys_inc/v231/Addins/JobMgrAdapter
!ansys_inc/v231/Addins/Units

ansys_inc/v231/aisol/BladeModeler
ansys_inc/v231/aisol/FEModeler

ansys_inc/v231/aisol/dll/linx64/libans.blademodeler.ndfutilitiescom.so
ansys_inc/v231/aisol/dll/linx64/libans.blademodeler.dmaddincom.so
ansys_inc/v231/aisol/dll/linx64/ans.blademodeler.dmaddincom.rsb
ansys_inc/v231/aisol/dll/linx64/libans.blademodeler.bg41objectscom.so
ansys_inc/v231/aisol/dll/linx64/ans.blademodeler.bg41objectscom.rsb
ansys_inc/v231/aisol/dll/linx64/libans.blademodeler.tgproxycom.so
ansys_inc/v231/aisol/dll/linx64/ans.blademodeler.tgproxycom.rsb
ansys_inc/v231/aisol/dll/linx64/libans.blademodeler.objectscom.so
ansys_inc/v231/aisol/dll/linx64/ans.blademodeler.objectscom.rsb
ansys_inc/v231/aisol/dll/linx64/libans.addins.parameshcom.so
ansys_inc/v231/aisol/dll/linx64/ans.addins.parameshcom.rsb
ansys_inc/v231/aisol/dll/linx64/libans.addins.parameshkernelcom.so
ansys_inc/v231/aisol/dll/linx64/ans.addins.parameshkernelcom.rsb
ansys_inc/v231/aisol/dll/linx64/libans.addins.parameshobjectscom.so
ansys_inc/v231/aisol/dll/linx64/ans.addins.parameshobjectscom.rsb
ansys_inc/v231/aisol/dll/linx64/libans.addins.parameshutilitiescom.so
ansys_inc/v231/aisol/dll/linx64/ans.addins.parameshutilitiescom.rsb
# Ans.Common.ManagedEntry loading depends on this
# ansys_inc/v231/aisol/bin/linx64/Ans.AQWA.RemoteItf.dll
# ansys_inc/v231/aisol/bin/linx64/Ans.AQWA.RemoteLib.dll

ansys_inc/v231/Additive

# not available on linux
# ansys_inc/v231/AddPrint

ansys_inc/v231/commonfiles/CAD/Hoops

ansys_inc/v231/commonfiles/CAD/Spatial

# needed for mapdl
# having + in the pattern produces the following error
# error from sender: failed to match excludepatterns: syntax error in pattern
# let us not ignore this folder in the mechanical images
# ansys_inc/v231/commonfiles/AAS
# !ansys_inc/v231/commonfiles/AAS/bin/linx64/libACE.so
# !ansys_inc/v231/commonfiles/AAS/bin/linx64/libACE.so.7.0.2
# !ansys_inc/v231/commonfiles/AAS/bin/linx64/libACEXML.so
# !ansys_inc/v231/commonfiles/AAS/bin/linx64/libACEXML.so.7.0.2
# !ansys_inc/v231/commonfiles/AAS/bin/linx64/libACEXML_Parser.so
# !ansys_inc/v231/commonfiles/AAS/bin/linx64/libACEXML_Parser.so.7.0.2
# !ansys_inc/v231/commonfiles/AAS/bin/linx64/libMapdlExceptionClient.so
# !ansys_inc/v231/commonfiles/AAS/bin/linx64/libstdc++.so
# !ansys_inc/v231/commonfiles/AAS/bin/linx64/libstdc++.so.6
# !ansys_inc/v231/commonfiles/AAS/bin/linx64/libstdc++.so.6.0.25
# !ansys_inc/v231/commonfiles/AAS/bin/linx64/libTAO.so
# !ansys_inc/v231/commonfiles/AAS/bin/linx64/libTAO.so.3.0.2
# !ansys_inc/v231/commonfiles/AAS/bin/linx64/libTAO_AnyTypeCode.so
# !ansys_inc/v231/commonfiles/AAS/bin/linx64/libTAO_AnyTypeCode.so.3.0.2
# !ansys_inc/v231/commonfiles/AAS/bin/linx64/libTAO_BiDirGIOP.so
# !ansys_inc/v231/commonfiles/AAS/bin/linx64/libTAO_BiDirGIOP.so.3.0.2
# !ansys_inc/v231/commonfiles/AAS/bin/linx64/libTAO_CodecFactory.so
# !ansys_inc/v231/commonfiles/AAS/bin/linx64/libTAO_CodecFactory.so.3.0.2
# !ansys_inc/v231/commonfiles/AAS/bin/linx64/libTAO_PI.so
# !ansys_inc/v231/commonfiles/AAS/bin/linx64/libTAO_PI.so.3.0.2
# !ansys_inc/v231/commonfiles/AAS/bin/linx64/libTAO_PortableServer.so
# !ansys_inc/v231/commonfiles/AAS/bin/linx64/libTAO_PortableServer.so.3.0.2

# needed for mapdl
# ansys_inc/v231/commonfiles/AMD
ansys_inc/v231/commonfiles/SystemCoupling

# needed for mapdl
ansys_inc/v231/commonfiles/Tcl
!ansys_inc/v231/commonfiles/Tcl/lib/linx64/libjpeg.so
!ansys_inc/v231/commonfiles/Tcl/lib/linx64/libpng.so
!ansys_inc/v231/commonfiles/Tcl/lib/linx64/libtiff.so
!ansys_inc/v231/commonfiles/Tcl/lib/linx64/libz.so

ansys_inc/v231/commonfiles/CFX
ansys_inc/v231/commonfiles/Textures
ansys_inc/v231/commonfiles/tools

ansys_inc/v231/dcs

# not available on linux
# ansys_inc/v231/DistortionCompensation

# trace mapping workflows need Electronics
# ansys_inc/v231/Electronics

ansys_inc/v231/Framework
!ansys_inc/v231/Framework/bin

ansys_inc/v231/Images

ansys_inc/v231/meshing

ansys_inc/v231/RSM

# not available in linux
# ansys_inc/v231/scdm

#ansys_inc/v231/Subscription

ansys_inc/v231/SystemCoupling

# we'll need this because of mono
# ansys_inc/v231/Tools

ansys_inc/v231/ProductConfig.sh
ansys_inc/v231/ans_uninstall231

# mapdl dependencies
# ansys_inc/v231/aisol/lib/linx64/libcares.so.2
# ansys_inc/v231/aisol/lib/linx64/libgcc_s.so.1
# ansys_inc/v231/aisol/lib/linx64/libprotobuf.so.3.10.1.0
ansys_inc/v231/ansys
!ansys_inc/v231/ansys/syslib/ubuntu/libXp.so
!ansys_inc/v231/ansys/syslib/ubuntu/libXp.so.6
!ansys_inc/v231/ansys/syslib/ubuntu/libXp.so.6.2.0
#upf needed for mechanical usage
!ansys_inc/v231/ansys/bin/ansupf
!ansys_inc/v231/ansys/bin/ansupf231

#mpi is needed for mechanical usage
!ansys_inc/v231/ansys/bin/mpitest
!ansys_inc/v231/ansys/bin/mpitest231

#include only what's needed for mapdl - using reduce_mapdl.py
!ansys_inc/v231/aisol/lib/linx64/libgcc_s.so.1
!ansys_inc/v231/ansys/apdl
!ansys_inc/v231/ansys/bin/ansset.ini
!ansys_inc/v231/ansys/bin/anssh.ini
!ansys_inc/v231/ansys/bin/ansys231
!ansys_inc/v231/ansys/bin/ansysdis
!ansys_inc/v231/ansys/bin/ansysdis231
!ansys_inc/v231/ansys/bin/linx64/ansys.e
!ansys_inc/v231/ansys/bin/mapdl
!ansys_inc/v231/ansys/docu/dynprompt231.ans
!ansys_inc/v231/ansys/gui/en-us/UIDL/MECHTOOL.AUI
!ansys_inc/v231/ansys/gui/en-us/UIDL/menulist.ans
!ansys_inc/v231/ansys/gui/en-us/UIDL/UIFUNC1.GRN
!ansys_inc/v231/ansys/gui/en-us/UIDL/UIFUNC2.GRN
!ansys_inc/v231/ansys/gui/en-us/UIDL/UIMENU.GRN
!ansys_inc/v231/ansys/lib/linx64/blas/intel/libansBLAS.so
!ansys_inc/v231/ansys/lib/linx64/libansexb.so
!ansys_inc/v231/ansys/lib/linx64/libansgil.so
!ansys_inc/v231/ansys/lib/linx64/libansGPU.so
!ansys_inc/v231/ansys/lib/linx64/libansHDF.so
!ansys_inc/v231/ansys/lib/linx64/libansMemManager.so
!ansys_inc/v231/ansys/lib/linx64/libansMETIS.so
!ansys_inc/v231/ansys/lib/linx64/libansMPI.so
!ansys_inc/v231/ansys/lib/linx64/libansMPIinterface.so
!ansys_inc/v231/ansys/lib/linx64/libansOpenMP.so
!ansys_inc/v231/ansys/lib/linx64/libansOpenSSL.so
!ansys_inc/v231/ansys/lib/linx64/libansParMETIS.so
!ansys_inc/v231/ansys/lib/linx64/libansResourcePredict.so
!ansys_inc/v231/ansys/lib/linx64/libansScaLAPACK.so
!ansys_inc/v231/ansys/lib/linx64/libansuser.so
!ansys_inc/v231/ansys/lib/linx64/libansys.so
!ansys_inc/v231/ansys/lib/linx64/libansysb.so
!ansys_inc/v231/ansys/lib/linx64/libansysx.so
!ansys_inc/v231/ansys/lib/linx64/libApipWrapper.so
!ansys_inc/v231/ansys/lib/linx64/libcadoe_algorithms.so
!ansys_inc/v231/ansys/lib/linx64/libcdbtransformer.so
!ansys_inc/v231/ansys/lib/linx64/libcgns.so
!ansys_inc/v231/ansys/lib/linx64/libchap.so
!ansys_inc/v231/ansys/lib/linx64/libcif.so
!ansys_inc/v231/ansys/lib/linx64/libCInterpolation.so
!ansys_inc/v231/ansys/lib/linx64/libCKernel.so
!ansys_inc/v231/ansys/lib/linx64/libCLegacy.so
!ansys_inc/v231/ansys/lib/linx64/libCMath.so
!ansys_inc/v231/ansys/lib/linx64/libCReaders.so
!ansys_inc/v231/ansys/lib/linx64/libCReadersExt.so
!ansys_inc/v231/ansys/lib/linx64/libdmumps.so
!ansys_inc/v231/ansys/lib/linx64/libdsp.so
!ansys_inc/v231/ansys/lib/linx64/libmnf.so
!ansys_inc/v231/ansys/lib/linx64/libmumps_common.so
!ansys_inc/v231/ansys/lib/linx64/liboctree-mesh.so
!ansys_inc/v231/ansys/lib/linx64/libPrimeMesh.so
!ansys_inc/v231/ansys/lib/linx64/libqhull.so
!ansys_inc/v231/ansys/lib/linx64/libspooles.so
!ansys_inc/v231/ansys/lib/linx64/libtg.so
!ansys_inc/v231/ansys/lib/linx64/libvtk.so
!ansys_inc/v231/ansys/lib/linx64/libzmumps.so
!ansys_inc/v231/ansys/lib/linx64/mpi/intelmpi/libansMPI.so
!ansys_inc/v231/ansys/lib/linx64/mpi/intelmpi/libansScaLAPACK.so

!ansys_inc/v231/ansys/site

!ansys_inc/v231/ansys/syslib/AnsGil/libgmp.so
!ansys_inc/v231/ansys/syslib/AnsGil/libgmp.so.10
!ansys_inc/v231/ansys/syslib/AnsGil/libgmp.so.10.3.2
# having + in the pattern produces the following error
# error from sender: failed to match excludepatterns: syntax error in pattern
# let us not ignore this folder
# !ansys_inc/v231/ansys/syslib/ansGRPC/libaddress_sorting.so
# !ansys_inc/v231/ansys/syslib/ansGRPC/libgpr.so
# !ansys_inc/v231/ansys/syslib/ansGRPC/libgrpc.so
# !ansys_inc/v231/ansys/syslib/ansGRPC/libgrpc++.so
!ansys_inc/v231/ansys/syslib/ansGRPC
!ansys_inc/v231/ansys/syslib/boost/libboost_atomic.so
!ansys_inc/v231/ansys/syslib/boost/libboost_atomic.so.1
!ansys_inc/v231/ansys/syslib/boost/libboost_atomic.so.1.71
!ansys_inc/v231/ansys/syslib/boost/libboost_atomic.so.1.71.0
!ansys_inc/v231/ansys/syslib/boost/libboost_chrono.so
!ansys_inc/v231/ansys/syslib/boost/libboost_chrono.so.1
!ansys_inc/v231/ansys/syslib/boost/libboost_chrono.so.1.71
!ansys_inc/v231/ansys/syslib/boost/libboost_chrono.so.1.71.0
!ansys_inc/v231/ansys/syslib/boost/libboost_date_time.so
!ansys_inc/v231/ansys/syslib/boost/libboost_date_time.so.1
!ansys_inc/v231/ansys/syslib/boost/libboost_date_time.so.1.71
!ansys_inc/v231/ansys/syslib/boost/libboost_date_time.so.1.71.0
!ansys_inc/v231/ansys/syslib/boost/libboost_filesystem.so
!ansys_inc/v231/ansys/syslib/boost/libboost_filesystem.so.1
!ansys_inc/v231/ansys/syslib/boost/libboost_filesystem.so.1.71
!ansys_inc/v231/ansys/syslib/boost/libboost_filesystem.so.1.71.0
!ansys_inc/v231/ansys/syslib/boost/libboost_log.so
!ansys_inc/v231/ansys/syslib/boost/libboost_log.so.1
!ansys_inc/v231/ansys/syslib/boost/libboost_log.so.1.71
!ansys_inc/v231/ansys/syslib/boost/libboost_log.so.1.71.0
!ansys_inc/v231/ansys/syslib/boost/libboost_log_setup.so
!ansys_inc/v231/ansys/syslib/boost/libboost_log_setup.so.1
!ansys_inc/v231/ansys/syslib/boost/libboost_log_setup.so.1.71
!ansys_inc/v231/ansys/syslib/boost/libboost_log_setup.so.1.71.0
!ansys_inc/v231/ansys/syslib/boost/libboost_regex.so
!ansys_inc/v231/ansys/syslib/boost/libboost_regex.so.1
!ansys_inc/v231/ansys/syslib/boost/libboost_regex.so.1.71
!ansys_inc/v231/ansys/syslib/boost/libboost_regex.so.1.71.0
!ansys_inc/v231/ansys/syslib/boost/libboost_system.so
!ansys_inc/v231/ansys/syslib/boost/libboost_system.so.1
!ansys_inc/v231/ansys/syslib/boost/libboost_system.so.1.71
!ansys_inc/v231/ansys/syslib/boost/libboost_system.so.1.71.0
!ansys_inc/v231/ansys/syslib/boost/libboost_thread.so
!ansys_inc/v231/ansys/syslib/boost/libboost_thread.so.1
!ansys_inc/v231/ansys/syslib/boost/libboost_thread.so.1.71
!ansys_inc/v231/ansys/syslib/boost/libboost_thread.so.1.71.0
!ansys_inc/v231/ansys/syslib/openssl/libcrypto-anss.so.1.1
!ansys_inc/v231/ansys/syslib/openssl/libssl-anss.so.1.1
!ansys_inc/v231/ansys/syslib/zlib/libz.so

ansys_inc/v231/commonfiles/MPI
!ansys_inc/v231/commonfiles/MPI/Intel/2018.3.222/linx64/bin/mpiexec
!ansys_inc/v231/commonfiles/MPI/Intel/2018.3.222/linx64/bin/mpiexec.hydra
!ansys_inc/v231/commonfiles/MPI/Intel/2018.3.222/linx64/bin/mpirun
!ansys_inc/v231/commonfiles/MPI/Intel/2018.3.222/linx64/bin/pmi_proxy
!ansys_inc/v231/commonfiles/MPI/Intel/2018.3.222/linx64/etc/mpiexec.conf
!ansys_inc/v231/commonfiles/MPI/Intel/2018.3.222/linx64/lib/libmpi.so
!ansys_inc/v231/commonfiles/MPI/Intel/2018.3.222/linx64/lib/libmpi.so.12
!ansys_inc/v231/commonfiles/MPI/Intel/2018.3.222/linx64/lib/libmpi.so.4
!ansys_inc/v231/commonfiles/MPI/Intel/2018.3.222/linx64/lib/libmpi.so.5
!ansys_inc/v231/commonfiles/MPI/Intel/2018.3.222/linx64/lib/libmpi_mt.so
!ansys_inc/v231/commonfiles/MPI/Intel/2018.3.222/linx64/lib/libmpi_mt.so.12
!ansys_inc/v231/commonfiles/MPI/Intel/2018.3.222/linx64/lib/libmpi_mt.so.4
!ansys_inc/v231/commonfiles/MPI/Intel/2018.3.222/linx64/lib/libmpi_mt.so.5
!ansys_inc/v231/commonfiles/MPI/Intel/2018.3.222/linx64/lib/libstrtok.so
!ansys_inc/v231/commonfiles/MPI/Intel/2018.3.222/linx64/lib/release_mt/libmpi.so
!ansys_inc/v231/commonfiles/MPI/Intel/2018.3.222/linx64/lib/release_mt/libmpi.so.12
!ansys_inc/v231/commonfiles/MPI/Intel/2018.3.222/linx64/lib/release_mt/libmpi.so.12.0

!ansys_inc/v231/commonfiles/MPI/Intel/2021.6.0/linx64/bin/hydra_bstrap_proxy
!ansys_inc/v231/commonfiles/MPI/Intel/2021.6.0/linx64/bin/hydra_pmi_proxy
!ansys_inc/v231/commonfiles/MPI/Intel/2021.6.0/linx64/bin/mpiexec
!ansys_inc/v231/commonfiles/MPI/Intel/2021.6.0/linx64/bin/mpiexec.hydra
!ansys_inc/v231/commonfiles/MPI/Intel/2021.6.0/linx64/bin/mpirun
!ansys_inc/v231/commonfiles/MPI/Intel/2021.6.0/linx64/etc/tuning_skx_shm-ofi_tcp-ofi-rxm.dat
!ansys_inc/v231/commonfiles/MPI/Intel/2021.6.0/linx64/lib/release/libmpi.so
!ansys_inc/v231/commonfiles/MPI/Intel/2021.6.0/linx64/lib/release/libmpi.so.12
!ansys_inc/v231/commonfiles/MPI/Intel/2021.6.0/linx64/lib/release/libmpi.so.12.0
!ansys_inc/v231/commonfiles/MPI/Intel/2021.6.0/linx64/lib/release/libmpi.so.12.0.0
!ansys_inc/v231/commonfiles/MPI/Intel/2021.6.0/linx64/libfabric/lib/libfabric.so
!ansys_inc/v231/commonfiles/MPI/Intel/2021.6.0/linx64/libfabric/lib/libfabric.so.1
!ansys_inc/v231/commonfiles/MPI/Intel/2021.6.0/linx64/libfabric/lib/prov/libefa-fi.so
!ansys_inc/v231/commonfiles/MPI/Intel/2021.6.0/linx64/libfabric/lib/prov/libmlx-fi.so
!ansys_inc/v231/commonfiles/MPI/Intel/2021.6.0/linx64/libfabric/lib/prov/libpsm3-fi.so
!ansys_inc/v231/commonfiles/MPI/Intel/2021.6.0/linx64/libfabric/lib/prov/libpsmx2-fi.so
!ansys_inc/v231/commonfiles/MPI/Intel/2021.6.0/linx64/libfabric/lib/prov/librxm-fi.so
!ansys_inc/v231/commonfiles/MPI/Intel/2021.6.0/linx64/libfabric/lib/prov/libshm-fi.so
!ansys_inc/v231/commonfiles/MPI/Intel/2021.6.0/linx64/libfabric/lib/prov/libsockets-fi.so
!ansys_inc/v231/commonfiles/MPI/Intel/2021.6.0/linx64/libfabric/lib/prov/libtcp-fi.so
!ansys_inc/v231/commonfiles/MPI/Intel/2021.6.0/linx64/libfabric/lib/prov/libverbs-1.12-fi.so
!ansys_inc/v231/commonfiles/MPI/Intel/2021.6.0/linx64/libfabric/lib/prov/libverbs-1.1-fi.so

ansys_inc/v231/commonfiles/Tcl
!ansys_inc/v231/commonfiles/Tcl/lib/linx64/libjpeg.so
!ansys_inc/v231/commonfiles/Tcl/lib/linx64/libpng.so
!ansys_inc/v231/commonfiles/Tcl/lib/linx64/libtiff.so

# we include the full licensing client
#ansys_inc/v231/licensingclient/linx64/ansyscl
#ansys_inc/v231/licensingclient/linx64/ansysli_util

ansys_inc/v231/tp/hdf5/1_10_5
!ansys_inc/v231/tp/hdf5/1_10_5/linx64/lib/libhdf5_cpp-gcc820-1_10_5.so
!ansys_inc/v231/tp/hdf5/1_10_5/linx64/lib/libhdf5_cpp-gcc820-1_10_5.so.103
!ansys_inc/v231/tp/hdf5/1_10_5/linx64/lib/libhdf5_cpp-gcc820-1_10_5.so.103.1.0
!ansys_inc/v231/tp/hdf5/1_10_5/linx64/lib/libhdf5_hl_cpp-gcc820-1_10_5.so
!ansys_inc/v231/tp/hdf5/1_10_5/linx64/lib/libhdf5_hl_cpp-gcc820-1_10_5.so.100
!ansys_inc/v231/tp/hdf5/1_10_5/linx64/lib/libhdf5_hl_cpp-gcc820-1_10_5.so.100.1.3
!ansys_inc/v231/tp/hdf5/1_10_5/linx64/lib/libhdf5_hl-gcc820-1_10_5.so
!ansys_inc/v231/tp/hdf5/1_10_5/linx64/lib/libhdf5_hl-gcc820-1_10_5.so.100
!ansys_inc/v231/tp/hdf5/1_10_5/linx64/lib/libhdf5_hl-gcc820-1_10_5.so.100.1.2
!ansys_inc/v231/tp/hdf5/1_10_5/linx64/lib/libhdf5-gcc820-1_10_5.so
!ansys_inc/v231/tp/hdf5/1_10_5/linx64/lib/libhdf5-gcc820-1_10_5.so.103
!ansys_inc/v231/tp/hdf5/1_10_5/linx64/lib/libhdf5-gcc820-1_10_5.so.103.1.0

ansys_inc/v231/tp/IntelCompiler/2019.3.199
!ansys_inc/v231/tp/IntelCompiler/2019.3.199/linx64/lib/intel64/libifcoremt.so
!ansys_inc/v231/tp/IntelCompiler/2019.3.199/linx64/lib/intel64/libifcoremt.so.5
!ansys_inc/v231/tp/IntelCompiler/2019.3.199/linx64/lib/intel64/libifport.so
!ansys_inc/v231/tp/IntelCompiler/2019.3.199/linx64/lib/intel64/libifport.so.5
!ansys_inc/v231/tp/IntelCompiler/2019.3.199/linx64/lib/intel64/libimf.so
!ansys_inc/v231/tp/IntelCompiler/2019.3.199/linx64/lib/intel64/libintlc.so
!ansys_inc/v231/tp/IntelCompiler/2019.3.199/linx64/lib/intel64/libintlc.so.5
!ansys_inc/v231/tp/IntelCompiler/2019.3.199/linx64/lib/intel64/libiomp5.so
!ansys_inc/v231/tp/IntelCompiler/2019.3.199/linx64/lib/intel64/libirc.so
!ansys_inc/v231/tp/IntelCompiler/2019.3.199/linx64/lib/intel64/libirng.so
!ansys_inc/v231/tp/IntelCompiler/2019.3.199/linx64/lib/intel64/libsvml.so

ansys_inc/v231/tp/IntelMKL
ansys_inc/v231/tp/IntelMKL/2020.0.166
!ansys_inc/v231/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_avx512.so
!ansys_inc/v231/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_avx512_mic.so
!ansys_inc/v231/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_blacs_intelmpi_lp64.so
!ansys_inc/v231/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_core.so
!ansys_inc/v231/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_def.so
!ansys_inc/v231/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_intel_lp64.so
!ansys_inc/v231/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_intel_thread.so
!ansys_inc/v231/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_scalapack_lp64.so
!ansys_inc/v231/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_vml_avx512.so
!ansys_inc/v231/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_vml_avx512_mic.so

# mesh dependency
!ansys_inc/v231/tp/IntelMKL/2020.0.166/linx64/lib/intel64/libmkl_gnu_thread.so

ansys_inc/install.err
.dockerignore
Dockerfile