{% if sections["Whatsnew"] %}
{% for category, val in sections["Whatsnew"].items() -%}
{{ category }}
{% set underline = '-' * category|length %}
{{ underline }}
{% for text, _ in val.items() %}

{{ text|trim() }}

{% endfor %}
{% endfor %}
{% endif %}

{% if sections[""] %}
.. tab-set::
{% for category, val in definitions.items() if category in sections[""] %}
  .. tab-item:: {{ definitions[category]['name'] }}

      .. list-table::
          :header-rows: 0
          :widths: auto

            {% for text, values in sections[""][category].items() %}

          * - {{ text|indent(12) }}
            - {{ values|join(', ')|indent(12) }}
            
            {% endfor %}

{% endfor %}

{% else %}
No significant changes.


{% endif %}

