name: GitHub CI
on:
  pull_request:
  workflow_dispatch:
  push:
    tags:
      - "*"
    branches:
      - main
      - release/*

env:
  PYMECHANICAL_PORT: 10000  # default won't work on GitHub runners
  PYMECHANICAL_START_INSTANCE: FALSE
  DOCKER_PACKAGE: ghcr.io/pyansys/pymechanical/mechanical
  DOCKER_IMAGE_VERSION: v23.1.0
  MAIN_PYTHON_VERSION: '3.10'
  PACKAGE_NAME: ansys-mechanical-core
  PACKAGE_NAMESPACE: ansys.mechanical.core
  DOCUMENTATION_CNAME: mechanical.docs.pyansys.com

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  # style:
  #   name: Code style
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: PyAnsys code style checks
  #       uses: pyansys/actions/code-style@v3
  #       with:
  #         python-version: ${{ env.MAIN_PYTHON_VERSION }}

  # docs-style:
  #   name: Documentation Style Check
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: PyAnsys documentation style checks
  #       uses: pyansys/actions/doc-style@v3
  #       with:
  #         token: ${{ secrets.GITHUB_TOKEN }}

  # smoke-tests:
  #   name: Build and Smoke tests
  #   runs-on: ${{ matrix.os }}
  #   needs: [style]
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       os: [ubuntu-latest, windows-latest]
  #       python-version: ['3.8', '3.9', '3.10', '3.11']
  #   steps:
  #     - name: Build wheelhouse and perform smoke test
  #       uses: pyansys/actions/build-wheelhouse@v3
  #       with:
  #         library-name: ${{ env.PACKAGE_NAME }}
  #         library-namespace: ${{ env.PACKAGE_NAMESPACE }}
  #         operating-system: ${{ matrix.os }}
  #         python-version: ${{ matrix.python-version }}

  # macos-build:
  #   name: Build and Smoke tests (macOS)
  #   if: github.event_name == 'push' && contains(github.ref, 'refs/tags')
  #   runs-on: macos-latest
  #   needs: []
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       python-version: ['3.8', '3.9', '3.10', '3.11']
  #   steps:
  #     - name: Build wheelhouse and perform smoke test
  #       uses: pyansys/actions/build-wheelhouse@v3
  #       with:
  #         library-name: ${{ env.PACKAGE_NAME }}
  #         library-namespace: ${{ env.PACKAGE_NAMESPACE }}
  #         operating-system: ${{ runner.os }}
  #         python-version: ${{ matrix.python-version }}

  # tests:
  #   name: Testing and coverage
  #   runs-on: ubuntu-latest
  #   needs: []
  #   steps:
  #     - name: Login in Github Container registry
  #       uses: docker/login-action@v2
  #       with:
  #         registry: ghcr.io
  #         username: ${{ github.actor }}
  #         password: ${{ secrets.GITHUB_TOKEN }}

  #     - name: Pull, launch, and validate Mechanical service
  #       env:
  #         LICENSE_SERVER: ${{ secrets.LICENSE_SERVER }}
  #         MECHANICAL_IMAGE: ${{ env.DOCKER_PACKAGE }}:${{ env.DOCKER_IMAGE_VERSION }}
  #       run: |
  #         docker pull ${{ env.MECHANICAL_IMAGE }}
  #         docker run --restart always --name mechanical -e ANSYSLMD_LICENSE_FILE=1055@${{ env.LICENSE_SERVER }} -p ${{ env.PYMECHANICAL_PORT }}:10000 ${{ env.MECHANICAL_IMAGE }} > log.txt &
  #         grep -q 'WB Initialize Done' <(timeout 60 tail -f log.txt)

  #     - name: Testing
  #       uses: pyansys/actions/tests-pytest@v3
  #       with:
  #         python-version: ${{ env.MAIN_PYTHON_VERSION }}

  embedding-tests:
    name: Embeding testing and coverage
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/pyansys/pymechanical/mechanical:v23.2.0
      options: --entrypoint /bin/bash
    needs: []

    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          apt install -y lsb-release
          apt install -y python3-pip
          pip3 install --trusted-host pypi.org --trusted-host pypi.python.org --trusted-host files.pythonhosted.org pip setuptools
          pip3 install --upgrade pip flit

      - name: Install packages for testing
        run: |
          pip install .[tests]

      - name: Unit Testing and coverage
        env:
          LICENSE_SERVER: ${{ secrets.LICENSE_SERVER }}
          ANSYSCL232_DIR: /install/ansys_inc/v232/licensingclient
          ANSYSLMD_LICENSE_FILE: 1055@${{ env.LICENSE_SERVER }}
          ANSYS_WORKBENCH_LOGGING_CONSOLE: 0
        run: /install/ansys_inc/v232/aisol/.workbench_lite pytest -m embedding

      - name: Upload Coverage Results
        uses: actions/upload-artifact@v3
        with:
          name: HTML-Coverage
          path: .cov/html
          retention-days: 7

  # docs:
  #   name: Documentation
  #   needs: [docs-style]
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: "Install dependencies"
  #       shell: bash
  #       run: sudo apt-get install pandoc

  #     - name: Run Ansys documentation building action
  #       uses: pyansys/actions/doc-build@v3
  #       with:
  #         python-version: ${{ env.MAIN_PYTHON_VERSION }}

  # package:
  #   name: Package library
  #   needs: [tests, embedding-tests, docs]
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Build library source and wheel artifacts
  #       uses: pyansys/actions/build-library@v3
  #       with:
  #         library-name: ${{ env.PACKAGE_NAME }}
  #         python-version: ${{ env.MAIN_PYTHON_VERSION }}

  # release:
  #   name: Release project
  #   if: github.event_name == 'push' && contains(github.ref, 'refs/tags')
  #   needs: [package, macos-build]
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Release to the private PyPI repository
  #       uses: pyansys/actions/release-pypi-private@v3
  #       with:
  #         library-name: ${{ env.PACKAGE_NAME }}
  #         twine-username: "__token__"
  #         twine-token: ${{ secrets.PYANSYS_PYPI_PRIVATE_PAT }}

  #     - name: Release to the public PyPI repository
  #       uses: pyansys/actions/release-pypi-public@v3
  #       with:
  #         library-name: ${{ env.PACKAGE_NAME }}
  #         twine-username: "__token__"
  #         twine-token: ${{ secrets.PYPI_TOKEN }}

  #     - name: Release to GitHub
  #       uses: pyansys/actions/release-github@v3
  #       with:
  #         library-name: ${{ env.PACKAGE_NAME }}

  # upload_dev_docs:
  #   name: Upload dev documentation
  #   if: github.ref == 'refs/heads/main'
  #   runs-on: ubuntu-latest
  #   needs: [package]
  #   steps:
  #     - name: Deploy the latest documentation
  #       uses: pyansys/actions/doc-deploy-dev@v3
  #       with:
  #         cname: ${{ env.DOCUMENTATION_CNAME }}
  #         token: ${{ secrets.GITHUB_TOKEN }}

  # upload_docs_release:
  #   name: Upload release documentation
  #   if: github.event_name == 'push' && contains(github.ref, 'refs/tags')
  #   runs-on: ubuntu-latest
  #   needs: [release]
  #   steps:
  #     - name: Deploy the stable documentation
  #       uses: pyansys/actions/doc-deploy-stable@v3
  #       with:
  #         cname: ${{ env.DOCUMENTATION_CNAME }}
  #         token: ${{ secrets.GITHUB_TOKEN }}
  #         python-version: ${{ env.MAIN_PYTHON_VERSION }}
