name: Dependabot auto-merge
on: pull_request

permissions: {}

jobs:
  dependabot-automerge:
    name: "Auto-merge Dependabot PRs"
    runs-on: ubuntu-latest
    if: startsWith(github.head_ref, 'dependabot/')
    permissions:
      pull-requests: write
      contents: write
    steps:

      - name: Dependabot metadata
        id: metadata
        uses: dependabot/fetch-metadata@08eff52bf64351f401fb50d4972fa95b9f2c2d1b # v2.4.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Approve a PR
        run: gh pr review --approve "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GH_TOKEN: ${{ secrets.PYANSYS_CI_BOT_TOKEN }}

      - name: Enable auto-merge for Dependabot PRs
        if: steps.metadata.outputs.update-type != 'version-update:semver-major'
        run: gh pr merge --auto --squash "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GH_TOKEN: ${{ secrets.PYANSYS_CI_BOT_TOKEN }}