name: Package cleanup
on:
  workflow_dispatch:
  schedule:
    - cron: '00 22 * * *'

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

permissions: {}

jobs:
  cleanup:
    name: "Delete untagged package versions"
    runs-on: ubuntu-latest
    permissions:
      contents: write        # Required to access repository metadata
      packages: write        # Needed to delete untagged package versions
    steps:
      - name: "Delete untagged package versions"
        uses: ansys/actions/hk-package-clean-untagged@21c9de9bee9692173780696d4a39964f20b9cfa3 # v10.1.5
        with:
          package-org: 'ansys'
          package-name: 'mechanical'
          allow-last-days: '7'
          token: ${{ secrets.GITHUB_TOKEN }}